USE [Address_Book]
GO
/****** Object:  StoredProcedure [dbo].[ADD_PERSON]    Script Date: 6/22/2022 7:04:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ADD_PERSON] (@FIRST_NAME VARCHAR(20), @LAST_NAME VARCHAR(20), @ADDRESS VARCHAR(50), @CITY VARCHAR(20), @STATE VARCHAR(20), @PIN INT, @PHONE FLOAT, @EMAIL VARCHAR(40), @CONTACT_TYPE VARCHAR(20))
AS
INSERT INTO AddressBook VALUES (@FIRST_NAME, @LAST_NAME, @ADDRESS, @CITY, @STATE, @PIN, @PHONE, @EMAIL, @CONTACT_TYPE)
