USE [Address_Book]
GO
/****** Object:  StoredProcedure [dbo].[DELETE_PERSON]    Script Date: 6/22/2022 10:20:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DELETE_PERSON] @FIRST_NAME VARCHAR(20)
AS
BEGIN
DELETE FROM AddressBook WHERE FIRST_NAME = @FIRST_NAME
END